.w1{
     position: fixed;
     top: 40%;
     left: 60%;
    transform: translate(-50%, -50%);
    font-size: 3.5vw;
     font-weight:bolder;
     color:white;
     font-family:Simsun,Arial, Helvetica;
     display: inline-block;
     width: 80%; /* 根据需要设置宽度 */
     text-align: center;
     opacity: 0;
     animation: w1 3s linear forwards;

    }
    @keyframes w1 {
     0% {
     opacity: 0;
     }
    40% {
     opacity: 1;
     }
    65% {
     opacity: 1;
    }
     100% {
     opacity: 0;
     }
    }